body{
    margin: 0;
    box-sizing: border-box;
    /*font-family: 'Exo 2', sans-serif;
    font-family: 'K2D', sans-serif;
    font-family: 'Montserrat', sans-serif;*/
}

p{
    margin: 0;
}

a{
    text-decoration: none;
}

@font-face{
    font-family: 'Exo 2';
    src:url(fonts/Exo2-VariableFont_wght.ttf);
}

@font-face{
    font-family: 'Montserrat bold';
    src:url(fonts/Montserrat-Bold.ttf);
}
@font-face{
    font-family: 'Montserrat semiBold';
    src:url(fonts/Montserrat-SemiBold.ttf);
}
@font-face{
    font-family: 'Montserrat medium';
    src:url(fonts/Montserrat-Medium.ttf);
}
@font-face{
    font-family: 'Montserrat black';
    src:url(fonts/Montserrat-Black.ttf);
}



.container{
    max-width: 1140px;
    width: 100%;
    margin: auto;
}

/*Head*/

.menu{
    display: flex;
    position: fixed;
    width:100%;
    max-width: 1140px;
    margin-left: auto;
    z-index: 5;
    height: 100px;
    background: #fff;
}

.burger{
    display: none;
}

#menu {
    display: flex;
    margin-left: auto;
    padding:0;
    justify-content: flex-end;


}

#menu li{
    margin-top: 20px;
}

#menu a{
    text-decoration: none;
    font-family: 'Exo 2', medium;
    color :#000;
    margin: 29px; 
    transition: .3s;
}

li{
    list-style-type: none;
    height: fit-content;
}

.logo {
    margin-left: 16px;
    margin-top:17px;
    height: 60px;
    width: 98px;
}

.underLine{
    height: 2px;
    width: 80px;
    background: #000;
    position: fixed;
    transition: .7s ease;

}

#menu a:hover{
    color:#2f2f2f;
    text-shadow: 0px -7px 1px rgba(0, 0, 0, 0.25);
    transform: translate(0,-10px);
}
/*Блоки*/
html .section{
    background: #fff;
}

/*1 блок*/

.developer{
    margin: 0;
    font-family: 'Montserrat bold', sans-serif;
    font-size: 60px;
    width: 740px;
    margin-left: 98px;
    margin-top:51px;
}

.name{
    margin: 0;
    font-family: 'Montserrat semiBold', sans-serif;
    font-size: 33px;
    margin-left: 98px;
    margin-top: 10px;
}

.motive{
  font-weight: 500;
  margin: 0;
    font-family: 'Montserrat medium', sans-serif;
    font-size: 22px;  
    margin-left: 98px;
    width: 600px;
    margin-top: 24px;
    margin-bottom: 50px;
    transition: .7s;
}

.writeMe{
    text-decoration: none;
    color: #000;
    padding:20px 120px;
    border: 3px solid #FF4F5A;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-left: 98px;
    font-family: 'Montserrat medium';
    font-style: normal;
    font-size: 22px;
    margin-top: 50px;
    cursor: pointer;
    transition: .7s;
    }

.writeDiv{
    transition: .7s;
    width:fit-content;
}

.writeDiv:hover{
    transform: translate(0,-5px);
}

.writeMe:hover{
    background: #FF4F5A;
    color: #fff;
}

.motive .writeMe:hover {
    margin-bottom: 45px
}

.firstSlide{
    transform: translate(800px, -180px);
    position: absolute;

}

.swipeDown{
    text-align: center;
    transform: translate(0,50px);
    width: fit-content;
    margin: auto;
}

.swipeDown p{
    font-size: 24px;
    font-family: 'Montserrat medium';
    margin-bottom: 10px;
    color: black;
    text-decoration: none;
}

/*второй слайд */

.group2{
    display: flex;
}

.graf{
    margin-left: 38px;
    margin-top: 100px;
}

.texts p{
    font-family: 'Montserrat medium', sans-serif;
    font-size: 24px;
    margin-top: 100px;
    width: 500px;
    text-align: left;
    margin-left: 80px;

}

.table{
    display: flex;
    /*margin-left: 44px;*/
    font-size: 18px;
    font-family: 'Montserrat medium', sans-serif;
}

/*3 раздел*/



.sk144{
    font-family: 'Montserrat black';
    font-size: 144px;
    color: rgba(255, 79, 90, 1);
    text-shadow: 31px 49px 0px rgba(255, 79, 90, 0.25);
    margin-left: 50%;
    transform: translate(-50%, 0px);
    margin-top: 40px
}

.stats{
    width: 426px;
    height: 16px;
    background: #808080;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
    border-radius: 12px;
}

.statsText{
    display: flex;
}

.endPer{
    margin-left: auto;
}

.fill{
    height: 100%;
    background: #FF4F5A;
    border-radius: 12px;
}

#section2 li{
    margin-top:25px;
}

#section2 .table{
    /*margin: auto;*/
}

/*4 раздел*/

.servicesPage{
    display: flex;
    margin-top: 30px;
}

.serv img{
    margin:auto;
    transform: translate(-50%, 0);
    height: fit-content;
    margin-left: 50%;
}

.serv p{
    font-family: 'Montserrat medium';
    font-size: 22px;
    text-align: center;
    margin-top: 20px;
}

.serv a{
    padding: 20px 70px;
    border: 3px #FF4F5A solid;
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-family: 'Montserrat medium';
    margin-top:30px;
    margin: auto;
    transition: .7s;
}

.servA a:hover{
    background: #FF4F5A;
    color: #fff;
}
.servA:hover{
    transform: translate(0,-5px);
}

.servA{
    transition: .7s;
    text-align: center;
    width: fit-content;
    margin: auto;
    margin-top:50px;
}

.imgHeight{
    height: 220px;
}

/*5 секция Работы*/

.item{
    width: fit-content;
}

.land{
    font-family: 'Montserrat semiBold';
    font-size: 40px;
    margin-top:70px;
    z-index: 3;
    position: relative;
}

.myWorks{
    width: fit-content;
    margin:auto;
    margin-top: 20px;
}

.border{
    /*border: 5px #FF4F5A solid;*/
    max-width: 304px;
    height: 420px;
}

.myWorks img{
    width: 160px;
    height: 160px;
    margin:auto;
    margin-top:20px;
    object-fit: contain;

}

.myWorks p{
    font-size: 16px;
    font-family: 'Montserrat medium';
    text-align: center;
    margin: auto;
    margin-top:40px;
    max-width: 284px;
    height: 76px;
}

.openWork a{
    padding: 20px 70px;
    border: 3px #FF4F5A solid;
    color:black;
    font-size: 22px;
    font-family: 'Montserrat medium';
    transition: .7s;
}

.openWork a:hover{
    color: white;
    background: #FF4F5A;
}

.openWork{
    width: fit-content;
    margin:auto;
    margin-top :60px;
    margin-bottom:40px;
    transition: .7s;
}

.openWork:hover{
    transform: translate(0,-5px);
}

html body .owl-item{
    width:fit-content;
}

/*контакты*/

.faq{
    margin-top:-200px;
    font-family: 'Exo 2';
    font-weight: bold;
}

.cont{
    width: 3000px;
    height:40%;
    background: linear-gradient(45deg, #9A4B92 -100%, #ff1111 100%);
    bottom: 0;
    position: absolute;
    z-index: 0;
}


.qestions{
    margin:auto;
    width: fit-content;
    margin-top:30px;
}

.qest{
    /*display:flex;*/
    font-size: 36px;
    font-family: 'Exo 2';
    width: 995px;
    text-align: left;
    transition: .5s

}

.qest .plus{
    margin-left:auto;
}

.blackLine{
    width: 995px;
    height: 2px;
    background: black;
    margin-top:10px;
    margin-bottom:10px;
    transition: .5s;
}

.plus{
    cursor: pointer;

}

.info{
    display: none;
    transition: .5s;
    font-size: 24px;
    font-family: 'Exo 2';
}

.qe1,.qe2,.qe3{
    display: block;
}

.in1{
    display: none;
    height: 130px;
        opacity: 0;
    transition: .3s;
}

.in2{
    display: none;
    height: 130px;
        opacity: 0;
        transition: .3s;
}

.in3{
    display: none;
    height: 130px;
        opacity: 0;
    transition: .3s;
}

.none{
    display: none;
}

.container{
    width: 1140px;
    z-index: 4;
    position: relative;
    display: flex;
}

.lamp{
    display: flex;
    margin-top: 20px;
}
.lamp p {
    margin-top: 50px;
}

.lamp img {
    margin-left: 60px;
    width: 70px;
    height: 70px;
}

.press{
    margin-left: 30px;
    margin-top: 20px;
}

.press p{
    font-size: 36px;
    font-family: 'Exo 2';
    color: white;
    width: 220px;
    margin-top: 15px;
    font-width: bold;
}

.write a:hover{
    color: #000000;
    background: #ffffff;
    border: 3px #ffffff solid;
}

.write{
    width: fit-content;
    margin-left: 50px;
    margin-top :60px;
    /*margin-bottom:40px;*/
    transition: .7s;
}

.write:hover{
    transform: translate(0,-5px);
}

.write a{
    padding: 20px 70px;
    border: 3px #ffffff solid;
    color: #ffffff;
    font-size: 22px;
    font-family: 'Montserrat medium';
    transition: .7s;
    margin: auto;
}
.address{
    margin-left: 170px;
}

.address .AC{
    font-family: K2D;
    font-size: 100px;
    color :white;
}

.addressRus{
    color: white;
    font-family: 'Exo 2';
    font-size: 30px;
    margin-top: 20px;
}

.addr {
    color:white;
    font-size: 18px;
    margin-top: 35px;
    font-family: 'Exo 2';
}

.contactsList{
    margin-left: 200px;
    margin-top: 20px;
    display: grid;
}

.contactsList p{
    color:white;
    font-family: 'Exo 2';
    font-size: 30px;
}

.contactsList img{
    width: 31px;
    height: 31px;
    margin: auto;
    filter: drop-shadow(0px 6px 3px rgba(0, 0, 0, 0.5));
}

.contactsList a:hover{
    transform: translate(0,-2px);
}
.contactsList a{
    margin: auto;
    transition: .5s;
    margin-top: 5px;

}

.coped{
    position: fixed;
    width: fit-content;
    background: white;
    color :black;
    height: 35px;
    border-radius: 10px;
    filter: drop-shadow(0px 6px 3px rgba(0, 0, 0, 0.25));
    display: none;
    opacity: 0;
    transition: .5s;
    z-index: 10;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%,0);
}

.coped p{
    font-size: 15px;
    font-family: 'Exo 2',medium;
    margin-top: 7px;
}

.black{
    background: rgba(0, 0, 0, 0.5);
    width: 1140px;
    height: 100px;
    position: fixed;
    z-index: 100;
    top: 0;
    display: none;
    opacity: 0;
    transition: .5s;
}

.letter{
    position: fixed;
    z-index: 14;
    background: rgba(0, 0, 0, 0.5);
    width: 300%;
    height: 300%;
    margin-left: -100%;
    top: 0;
    display: none;
    opacity: 0;
    transition: .5s;
}

.block{
    background: white;
    height: 430px;
    width: 900px;
    display: none;
    position: fixed;
    z-index: 1000;
    opacity: 0;
    transition: .5s;
    margin-left: 50%;
    transform: translate(-50%,0);
    margin-top: -200px;
}
html body .input{
    margin-top:20px;
    width: 800px;
    height: 52px;
    /*margin:auto;*/
}

.form-floating{
    margin: auto;
    width: fit-content;
    height: fit-content;
}

textarea{
    max-width: 800px;
    max-height: 100px;
}

form{
    margin-top:30px;
}

.send input{
    padding: 15px 40px;
    border: 3px #FF4F5A solid;
    color:black;
    font-size: 12px;
    font-family: 'Montserrat medium';
    transition: .7s;
    cursor: pointer;
}

.send input:hover{
    color: white;
    background: #FF4F5A;
}

.send{
    width: fit-content;
    height: fit-content;
    margin: auto;
    margin-top: 15px;
    transition: .6s;
    cursor: pointer;
}

.send:hover{
    margin-top:13px
}

.wtf img{
    margin-top:20px
}

.wha{
    display: inline-grid;
}

.owl-carousel{
    width: fit-content;
    margin:auto;
}

.serv{
    margin: 0px 10px;
}

@media screen and (min-width: 1600px) and (max-width: 20000px) {
    #section4 .land{
        margin-top:0px;
        margin-bottom: 70px;
    }

    .faq{
        margin-top:-300px;
    }

    .press,.address,.contactsList{
        margin-top:50px;
    }

}

@media screen and (min-width: 100px) and (max-width: 1000px) {

    /*ШАПКА*/

    .menu{
        height: 63px;
    }

    #menu{
        display: inline-grid;
        display: none;
    }

    .underLine{
        display: none;
    }

    .logo{
        height: 30px;
        width: 49px;
    }

    .container{
        /*max-width: 700px;*/
        width: 100%;
    }

    .developer{
        font-size: 30px;
        width: unset;
        margin-left: 50px;
        margin-right: 50px;
        margin-top:0px;
    }

    .name{
        font-size: 16px;
        margin-left: 50px;
        margin-top:15px;
    }

    .motive{
        font-size: 11px;
        margin-left: 50px;
        width: unset;
        margin-right: 50px;
    }

    .writeMe{
        padding: 10px 60px;
        font-size: 11px;
        margin-left: 0;
        margin-bottom: 10px;
    }

    .writeDiv{
        margin: auto;
    }

    .swipeDown p{
        font-size: 12px;
    }

    .swipeDown img{
        width: 52px;
        height: 17px;
    }

    .swipeDown{
        margin-top: 50px;
    }

    /*2 list*/

    .sk144{
        font-size: 77px;
        width: fit-content;
        text-shadow: 15px 20px 0px rgb(255 79 90 / 25%);
    }

    .table{
        display: inline-grid;
        width: fit-content;
        margin-left: 50%;
        transform: translate(-50%,0);
    }

    ul{
        margin-top: 0px;
        margin-bottom: 0;
        padding: 0;
    }

    .stats{
        max-width: 426px;
        width: calc(85vw);
    }

    li{
    }

    #section2 li {
        margin-top: 18px;
    }

    /*SERVICES*/

    .servicesPage{
        display: inline-grid;
    }

    .serv p{
        font-size: 11px;
        margin: auto;
        /*margin-top:5px;*/
        /*margin-bottom: 15px;*/
        text-align: left;
        margin-left: 15px;
        /*width: calc(70vw);*/
    }

    .serv img{
        width: 80px;
    }

    .imgHeight{
        height: fit-content;
    }

    .servicesPage{
        width: fit-content;
        margin:auto;
    }

    .serv{
        /*margin-left: 50%;*/
        /*transform: translate(-50%, 0);*/
        margin:10px 10px;
        display: flex;
    }

    .wtf img{
        margin-top:0px
    }

    .servicesPage{
        margin-top: 42px;
    }

    .item {
        width: fit-content;
        margin: auto;
    }

    .faq{
        display: none;
    }
    .qestions{
        display: none;
    }

    .cont{
        height: calc(100vh - 63px);
    }

    .container{
        display: inline-table;
    }

    .press p{
        font-size: 28px;
        width: fit-content;
        margin-top: 24px;
        /*margin: auto;*/
    }

    .lamp{
        margin: auto;
        width: fit-content;
        margin-top:20px;
    }

    .press{
        margin-left: 0px;
        margin-top: 0px;
    }

    .write{
        margin: auto;
        margin-bottom: 40px;
        margin-top:60px;
    }

    .addr{
        margin-top: 12px;
    }

    .wha{
        display: flex;
    }

    .contactsList{
        display: block;
        margin-left:0;
        margin-top:30px;
        width: fit-content;
        margin: auto;
    }

    .contactsList a{
        margin-left: 9px;
        margin-right: 9px;
    }

    .contactsList p{
        margin: auto;
        margin-top: 16px;
        width: fit-content;
    }

    .address{
        width: fit-content;
        margin: auto;
    }

    .burger{
        display: block;
        left: auto;
        right: 30px;
        top:17px;
        position: fixed;
    }

    .burgerImg{
        width:30px;
        height: 30px;
    }

    #menu{
        width: 100%;
        height: 100%;
        background: white;
        margin-left:-65px;
        z-index: 100;
        overflow: hidden;
        transform: translate(0,-100vh);
        transition: 0.5s;
    }

    #menu li{
        text-align: center;
        margin-top:50px
    }

    .block{
        width: 90vw;
    }

    .black{
        display: none;
    }

    .letter{
        display: none;
    }

    html body .block input{
        width: 80vw;
        height: 52px;
    }

    .cont .container{
        margin-top: 50%;
        transform: translate(0px, -50%);
    }

}






